body {
}

#container div {
    position: absolute;
    border: 1px solid black;
    top: 13%;
    width: 40px;
    height: 30px;
    margin: 8px 8px 8px 8px;
    border-radius: 4px;
    text-align: center;
}

#container {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 60%;
    height: 10%;
    visibility: hidden;
    margin: 8px 8px 8px 8px;
    border-radius: 3px;
    border: 1px solid black;
}

#reset {
    position: absolute;
    top: 45%;
    left: 40%;
    background-color: red;
    visibility: hidden;
}

#nextStep {
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: limegreen;
    visibility: hidden;
}

#values {
    margin: 3px;
    display: block;
    width: 21%;
    height: 22px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    color: white;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#button {
    margin-top: 5px;
    margin-left: 5%;
    background-color: blue;
}

#test {
    position: absolute;
    top: 55%;
    left: 43%;
    background-color: gray;
}
#mocha {
    position: absolute;
    left: 10%;
    top: 60%;
}